%header
  活动列表
  .header-right
    %button.btn.btn-4.btn-primary(ng-click="go_create_activity()" ng-disabled="disabled") 创建活动
%wrapper.wrapper
  %ul.list-style-2
    %li(class="{{activity_yellow(activity.activity)}}" ng-repeat="activity in activities" ng-click="sign_up(activity.activity)")
      %h3
        {{activity.activity}}