%header
  创建活动
  .header-left
    %button.btn-4.btn-primary(ng-click="go_activity_list()") 返回
  %br
  %br
  %h2(align='left' style='color:blue')活动名称
  %br
  %input.input-full
  %br
  %br
  %button.btn.btn-primary(style='width:100%'ng-click='go_sign_up()')创建