%header
  竞价列表
  .header-left
    %button.btn-4(ng-click="go_activity_list()")返回
  .header-right(ng-switch="which_show")
    %button.btn-4(ng-switch-when="start"  ng-click="go_bid_sign()" )开始
    %button.btn.btn-4(ng-switch-when="un_click" ng-disabled="disabled")开始
%wrapper.wrapper
  %ul.list-style-2
    %li(class="{{bid_yellow(current_bid.name)}}" ng-repeat="current_bid in current_bids" ng-click='bid_sign(current_bid.name)')
      %h3
        {{current_bid.name}}
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a.btn-style.btn-4报名
    %li
      %a.btn-style.btn-4竞价