%header
  {{page_head}}({{counter}}人)
  .header-left
    %button.btn-4(ng-click="go_bid_list()")返回
  .header-right
    %button.btn-4(ng-click="go_price_count()")统计
%wrapper.wrapper
  %ul.list-style-2
    %li(ng-repeat="result in results" style="height:60px" )
      .header-left
        {{result.people}}
        %br
        {{result.phone}}
      .header-right
        ￥{{result.price}}
.modal.fade#ModalSuccess(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        %button( type = "button" class="close" data-dismiss = "modal" aria-hidden = "true") &times;
        %h4.modal-title
      .modal-body
        %center
          {{bid_success.people}}￥{{bid_success.price}}
          %p
          {{bid_success.phone}}
          %p
          竞价成功！
      .modal-footer
.modal.fade#ModalFail
  .modal-dialog
    .modal-content
      .modal-header
        %button(aria-hidden = "true" class="close"  data-dismiss = "modal" type = "button") &times;
        %h4.modal-title
      .modal-body
        %center
          竞价失败！
      .modal-footer
%footer
  %div(ng-show="success")
    %pre
      竞价结果：{{bid_success.people}} ￥{{bid_success.price}}  {{bid_success.phone}} 竞价成功！
%footer
  %div(ng-show="fail")
    %pre
      竞价结果：竞价失败！
