%header
  竞价报名
  .header-left
    %button.btn-4(ng-click='go_bid_list()') 返回
  .header-right(ng-switch='which_button')
    %button.btn-4(ng-switch-when='start' ng-click='begin()')开始
    -#%button.btn.btn-4(ng-switch-when='un_click' ng-disabled='disabled')开始
    %button.btn-4(ng-switch-when='end' ng-click='end()' )结束
    -#%button.btn.btn-4(ng-switch-when='end_un_click' ng-disabled='end_disabled')结束