%header
  竞价报名
  .header-left
    %button.btn-4(ng-click='go_bid_list()') 返回
  .header-right(ng-switch='which_button')
    %button.btn-4(ng-switch-when='start' ng-click='begin()')开始
    %button.btn.btn-4(ng-switch-when='un_click_start' ng-disabled='disabled_start')开始
    %button.btn-4(ng-switch-when='end' ng-click='end()' )结束
    %button.btn.btn-4(ng-switch-when='un_click_end' ng-disabled='disabled_end')结束