%header
  {{page_head}}({{counter}}人)
  .header-left
    %button.btn-4(ng-click="go_bid_list()")返回
  .header-right
    %button.btn-4(ng-click="go_price_count()")统计
%wrapper.wrapper
  %ul.list-style-2
    %li(ng-repeat="result in results" style="height:60px" )
      .header-left
        {{result.people}}
        %br
        {{result.phone}}
      .header-right
        ￥{{result.price}}
.modal.fade#ModalSuccess(style="display: inline-table")
  .modal-content
    .modal-header
      %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      %h7.modal-title 竞价成功
    .modal-body
      %center
        {{bid_success.people}}￥{{bid_success.price}}
        %p
        {{bid_success.phone}}
        %p
        竞价成功！
    .modal-footer
.modal.fade#ModalFail(style="display: inline-table")
  .modal-content
    .modal-header
      %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      %h7.modal-title 竞价失败
    .modal-body
      %center
        竞价失败！
    .modal-footer
%footer
  %div(ng-show="success")
    %pre
      竞价结果：{{bid_success.people}} ￥{{bid_success.price}}  {{bid_success.phone}} 竞价成功！
%footer
  %div(ng-show="fail")
    %pre
      竞价结果：竞价失败！
