%header
  {{page_head}}({{counter}}人)
  .header-left
    %button.btn-4(ng-click="go_bid_list()")返回
  .header-right
    %button.btn-4(ng-click="go_bid_result()")列表
%wrapper.wrapper
  %ul.list-style-2
    %li(ng-repeat="count in counts" style="height:50px")
      .header-left
        ￥{{count.price}}
      .header-right
        {{count.count}}人
%footer
  %div(ng-show="success")
    %pre
      竞价结果：{{bid_success.people}} ￥{{bid_success.price}}  {{bid_success.phone}} 竞价成功！
%footer
  %div(ng-show="fail")
    %pre
      竞价结果：竞价失败！